<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('common/_head'); -%>
    </head>
    <body>
        <%- include('common/_menu'); -%>
        <div class="container">
            <div>
                <div class="bg-light p-5 rounded">
                    <div class="col-sm-8 mx-auto">
                        <h1>Navbar examples</h1>
                        <p>
                            This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport,
                            others are confined within a <code>.container</code>. For positioning of navbars, checkout the
                            <a href="/docs/5.1/examples/navbar-static/">top</a> and <a href="/docs/5.1/examples/navbar-fixed/">fixed top</a> examples.
                        </p>
                        <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
                        <p>
                            <a class="btn btn-primary" href="/docs/5.1/components/navbar/" role="button">View navbar docs &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <script
            src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
